@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body{
    font-family: 'Source Sans Pro', sans-serif;
	
    min-height: 100vh;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color:#000000;
    margin-bottom: 40px;
    font-size: 40px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #c3cfe2 0%, #c3cfe2 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

h1.sectiontitle {
	text-align:center;
	color:rgb(0, 0, 0);
}
h1.sectiontitle span {
	color:rgb(0, 0, 0);;
}
.m-t-30
{
	margin-top:30px;
}
.padding-top-50 {
	padding-top:50px;
}
h2.sectionintro {
	font-size: 16px;
	text-align: center;
	color: #666;
	padding: 20px 30px 50px;
	font-weight: 300;
	margin: 0;
}
.height-150 {
	height:150px  !important;
}

/*===================== Barra Menu CSS=====================*/
#menu {
	background:#373B42;
}

#menu .navbar-default .navbar-toggle {
	background:inherit;
	border:none;
	margin-right:0
}

#menu .navbar-default .navbar-toggle .icon-bar {
	background-color:#FFF
}

#menu .normal {
	z-index:999
}

#menu .navbar-nav>li>.dropdown-menu {
	border-top:none !important
}

#menu .navbar-nav>li>.dropdown-menu, #menu .normal .dropdown-submenu>.dropdown-menu {
	padding-top:0;
	padding-bottom:0;
	background:#373B42;
	background-color:#373B42;
	min-width:250px;
	border-radius:0;
	border:none
}

#menu .dropdown-menu>li:first-child {
	border-top:none
}

#menu .dropdown-menu>li {
	border-top:1px solid #373B42
}

#menu .dropdown-menu>li>a {
	color:#FFF;
	font-weight:300;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px
}

#menu .dropdown-menu>li>a:focus, #menu .dropdown-menu>li>a:hover {
	background-color:#373B42
}

#menu .normal .fa {
	margin-right:15px !important;
	font-size:13px;
	vertical-align:inherit;
	width:12px;
	text-align:center
}

#menu .normal .dropdown-submenu {
	position:relative
}

#menu .normal .dropdown-submenu>.dropdown-menu {
	top:0;
	left:100%;
	margin-top:0
}

#menu .normal .dropdown-submenu:hover>.dropdown-menu {
	display:block
}

#menu .normal .dropdown-submenu>a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#FFF;
	margin-top:5px;
	margin-right:-10px
}

#menu .normal .dropdown-submenu:hover>a:after {
	border-left-color:#fff
}

#menu .normal .dropdown-submenu.pull-left {
	float:none
}

#menu .normal .dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px
}

#menu .dropdown-menu>li>a:hover {
	color:#FFF;
	background:#0c1f38
}

#menu .container-fluid {
	padding-right:0;
	padding-left:0;
	margin-right:auto;
	margin-left:auto
}

#menu #mainlogo {
	background:url(../images/logo.jpg);
	width:264px;
	margin-top:5px;
	height:43px;
	margin-left:0
}

#menu #mainlogo:hover {
	opacity:.5;
transition:opacity .55s ease-in-out;
-moz-transition:opacity .55s ease-in-out;
-webkit-transition:opacity .55s ease-in-out
}

#menu .navbar {
	position:relative;
	min-height:61px;
	margin-bottom:10px;
	margin-top:35px
}

#menu .navbar-default .navbar-collapse, #menu .navbar-default .navbar-form {
	padding-left:0;
	padding-right:0;
}

#menu .navbar-default {
	background:inherit;
	border:none !important
}

#menu .navbar-default .navbar-nav>li>a {
	color:#FFF;
	font-size:14px;
	line-height:20px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:35px;
	padding-right:35px;
	font-weight:600;
	text-transform:uppercase
}

#menu .nav>li>a {
	position:relative;
	display:block
}

#menu .nav>li>a.last {
	margin-right:0px !important
}

#menu .navbar {
	min-height:40px;
	margin-top:0;
	margin-bottom:0
}

#menu .navbar-default .navbar-nav>.open>a, #menu .navbar-default .navbar-nav>.open>a:focus, #menu .navbar-default .navbar-nav>.open>a:hover {
	background:inherit;
	color:#f1f1f1
}

#menu .navbar-default .navbar-nav>li>a:hover {
	color:#f1f1f1
}

#menu .navbar-default .navbar-nav>li>a:focus {
	color:#F9F9F5
}

/* Botones */
#menu .navbar-default .navbar-nav>.active>a {
	background-color:#686868;
	color:#FFF
}

#menu .navbar-default .navbar-nav>.active>a:hover {
	background-color:#686868;
	color:#FFF
}

#menu .navbar-default .navbar-nav>.active>a:focus {
	background-color:#686868;
	color:#FFF
}

#menu .navbar-default .navbar-nav>.attn>a, #menu .navbar-default .navbar-nav>.attn>a:focus {
	background-color:#686868;
	color:#FFF
}

#menu .navbar-default .navbar-nav>.attn>a:hover {
	background-color:#686868;
	color:#FFF
}

#menu #menu-left {
	margin-left:0px !important;
	padding-left:0px !important
}

#menu #menu-right {
	margin-right:0px !important;
	padding-right:0px !important
}

#menu #menu-right .fa {
	padding-right:10px !important
}

#menu .fa {
	padding-right:0px !important
}

#menu h3 .fa {
	padding-right:10px !important;
	color:#c3cfe2
}

#menu ul.right {
	float:right
}

/*===================== Barra Menu CSS End=====================*/


/*===================== Botones de planes CSS Start =====================*/

.btn-slider {
	color:#fff;
	background-color:#686868;
	border:2px solid #686868;
	padding:20px 40px;
	border-radius:2px;
	font-weight:600
}

.btn-slider:hover, .btn-slider:focus, .btn-slider:active, .btn-slider:active:hover {
	color:#fff;
	opacity:.9;
	transition:opacity 0.5s ease
}

.btn-domain-search {
	background:#373b42;
	border:1px solid #373b42;
	border-radius:0;
	float:right
}
.btn-domain-search:hover {
	background:#0c1f38;
	border:1px solid #0c1f38
}
.btn-domain-search-dark {
	background:#0c1f38;
	border:1px solid #0c1f38;
	border-radius:0;
	float:right
}
.btn-domain-search-dark:hover {
	background:#8a8a8a;
	border:1px solid #8a8a8a
}
.btn-primary {
	color:#fff;
	background-color:#0c1f38;
	padding:20px 40px;
	border-radius:2px;
	font-weight:600;
	border:none
}
.btn-primary .fa {
	color:#fff !important
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
	background-color:#0c1f38;
	color:#fff;
	opacity:.9;
	transition:opacity 0.5s ease
}
.btn-primary-small {
	color:#fff;
	background-color:#686868;
	padding:10px 20px;
	border-radius:2px;
	font-weight:600;
	border:none
}
.btn-primary-small .fa {
	color:#fff !important
}
.btn-primary-small:hover, .btn-primary-small:focus, .btn-primary-small:active, .btn-primary-small:active:hover {
	background-color:#686868;
	color:#fff;
	opacity:.9;
	transition:opacity 0.5s ease
}
.btn-secondary {
	color:#fff;
	background-color:#373b42;
	padding:20px 40px;
	border-radius:2px;
	font-weight:600;
	border:none
}
.btn-secondary .fa {
	color:#fff !important
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:hover {
	color:#fff;
	opacity:.9;
	transition:opacity 0.5s ease
}
.btn-secondary-small {
	color:#fff;
	background-color:#373b42;
	padding:10px 20px;
	border-radius:2px;
	font-weight:600;
	border:none
}
.btn-secondary-small .fa {
	color:#fff !important
}
.btn-secondary-small:hover, .btn-secondary-small:focus, .btn-secondary-small:active, .btn-secondary-small:active:hover {
	color:#fff;
	opacity:.9;
	transition:opacity 0.5s ease
}
.btn-custom {
	color:#fff;
	font-size:18px;
	background-color:#686868;
	border:1px solid #686868;
	padding:10px 20px 10px 20px;
	border-radius:3px;
	font-weight:600
}
.btn-highlighted {
	color:#fff;
	background-color:#686868;
	border:1px solid #373B42;

}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom:active:hover {
	color:#fff;
	border:1px solid #fff
}


/*===================== Botones CSS End =====================*/

/*===================== jcarousel CSS Start =====================*/


.jcarousel-wrapper {
	position:relative
}
.jcarousel {
	position:relative;
	overflow:hidden;
	width:100%
}
.jcarousel ul {
	width:20000em;
	position:relative;
	list-style:none;
	margin:0;
	padding:0
}
.jcarousel li {
	width:200px;
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-left:20px;
	padding-right:20px
}
.jcarousel-pagination {
	position:absolute;
	bottom:-40px;
	left:50%;
	-webkit-transform:translate(-50%, 0);
	-ms-transform:translate(-50%, 0);
	transform:translate(-50%, 0);
	margin:0
}
.jcarousel-pagination a {
	text-decoration:none;
	display:inline-block;
	font-size:11px;
	height:10px;
	width:10px;
	line-height:10px;
	background:#2a363f;
	color:#4E443C;
	text-indent:-9999px;
	margin-right:7px
}
.jcarousel-pagination a.active {
	background:#0c1f38;
	color:#fff
}


/*===================== jcarousel CSS End =====================*/



/*===================== Banner de inicio CSS Start =====================*/

#imageslider {
	background:#c3cfe2;
	padding-top:80px;
	padding-bottom:50px;
}

#imageslider .carousel {
	position:relative;
	z-index:1
}

#imageslider .sliderimage-bottom {
	margin-top:0px
}

#imageslider .carousel-indicators {
	bottom:0
}

/* #imageslider .fa {
	color:rgb(0, 0, 0);;
	padding-right:10px;
} */

#imageslider .carousel-indicators li {
	width:15px !important;
	height:15px !important;
	margin:3px !important;
	border:2px solid #FFFFFF !important
}

#imageslider .carousel-indicators .active {
	width:15px !important;
	height:15px !important;
	margin:3px !important;
	background-color:#0c1f38 !important;
	border:2px solid #FFFFFF !important
}

#imageslider .main-container {
	padding:0
}

#imageslider .slide1 h3, #imageslider .slide2 h3, #imageslider .slide3 h3, #imageslider .slide4 h3 {
	color: #FFF;
	font-size: 50px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

#imageslider .slide1 h4, #imageslider .slide2 h4, #imageslider .slide3 h4, #imageslider .slide4 h4 {
	color:#555;
	font-size:20px;
	font-weight:300;
	margin-bottom:15px
}

#imageslider .carousel-indicators {
	bottom:-10px
}

#imageslider .carousel-control.right, #imageslider .carousel-control.left {
	background-image:none
}

#imageslider .carousel .item {
	min-height:450px;
	height:100%;
	width:100%
}

#imageslider .carousel-inner .item .container {
	justify-content:center;
	align-items:center;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0
}

#imageslider h4 {
	animation-delay:0.5s
}

#imageslider h4.second {
	animation-delay:1s
}

#imageslider h4.third {
	animation-delay:1.5s
}

#imageslider h4.forth {
	animation-delay:2s
}

#imageslider a {
	animation-delay:2.5s;
	margin-top:20px
}

#imageslider img {
	animation-delay:0.5s
}

/*===================== Banner de inicio CSS End =====================*/


/*===================== Nuestro servicio CSS Start =====================*/

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color:#000000;
    margin-bottom: 40px;
    font-size: 40px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #c3cfe2 0%, #c3cfe2 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*===================== Nuestro servicio CSS END =====================*/


/*===================== Galeria de fotos CSS Start =====================*/

.gallery{
    background: #c3cfe2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*===================== Galeria de fotos CSS END =====================*/


/*===================== Planes y precios CSS Start =====================*/

#resellerplans {
	background:#FFF;
	padding-top:60px;
	padding-bottom:40px
}
#resellerplans .pricing-table {
	margin-bottom:20px
}
#resellerplans .pricing {
	padding:0
}
#planbox .pricing-table {
	margin-top:10px;
	margin-bottom:10px
}
#resellerplans .pricing .pricing-table .pricing-header {
	position:relative;
	background:#373B42;
	padding:22px 22px;
	text-align:center;
	border-top-right-radius:4px;
	border-top-left-radius:4px
}
#resellerplans .pricing .pricing-table .highlighted {
	background-image: url(../images/recomendado.png);
	background-color: #6697ca;
	background-repeat: no-repeat;
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-title {
	color:#FFF;
	font-size:24px;
	text-align:center;
	font-weight:300
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-rate {
	font-size:70px;
	font-weight:700;
	color:#FFF;
	position:relative;
	text-align:center;
	margin-bottom:0;
	margin-right:10px
}
#resellerplans .pricing .pricing-table .pricing-header .old-price {
	text-decoration: line-through;
    color: #ff0000;
    margin-top: -25px;
    margin-bottom: -35px;
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-term {
	font-size:15px;
	color:#F3F4F5;
	text-align:center;
	margin-bottom:20px;
	font-weight:300
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-rate sup {
	font-size:24px;
	position:relative;
	top:-30px;
	color:#FFF
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-rate .pence {
	font-size:33px;
	top:-20px;
	color:#FFF
}
#resellerplans .pricing .pricing-table .pricing-header .pricing-rate span {
	font-size:20px;
	color:#FFF;
	text-transform:uppercase
}
#resellerplans .pricing .pricing-list {
	padding:20px 0 40px 0;
	background:#F3F4F5;
	border:1px solid #e4e4e4
}
#resellerplans .pricing .pricing-list ul {
	padding:0;
	display:table;
	margin:0 auto
}
#resellerplans .pricing .pricing-list ul li {
	list-style:none;
	border-bottom:1px solid #F3F4F5;
	color:#9e9e9e;
	font-size:16px;
	line-height:42px;
	font-weight:300
}
#resellerplans .pricing .pricing-list ul li:last-child {
	border:none
}
#resellerplans .pricing .pricing-list ul li i {
	margin-right:12px;
	color:#b0b0b0
}
#resellerplans .pricing .pricing-list ul li span {
	color:#373B42
}
#resellersoftware {
	background:#F3F4F5;
	padding-top:60px;
	padding-bottom:40px;
	border-top:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3
}
#resellersoftware .thumbnail {
	background:#FFF;
	padding:30px 30px 10px 30px;
	text-align:center;
	border-radius:0;
	border:1px solid #E3E3E3
}
#resellersoftware .thumbnail h3 {
	font-weight:300;
	border-top:1px solid #f7f7f7;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #f7f7f7
}
#resellersoftware .thumbnail p {
	margin-top:30px;
	margin-bottom:30px
}
#resellersoftware .thumbnail .btn {
	margin-bottom:10px;
	text-transform:uppercase;
	font-weight:600
}
#resellersoftware .well {
	margin-top:20px;
	background-color:#F3F4F5;
	padding-bottom:0
}
#resellersoftware h4 {
	font-weight:600;
	padding-top:10px;
	font-size:15px
}
#resellersoftware h5 span {
	color:#0c1f38;
	font-size:15px;
	font-weight:600
}
#resellerhostingfeatures {
	background:#FFF;
	padding-top:60px;
	padding-bottom:50px;
	text-align:center
}
#resellerhostingfeatures .fa, #resellerhostingfeatures .fas {
	color:#b0b0b0;
	padding-right:0
}
#resellerhostingfeatures h3 {
	font-size:20px;
	color:#0c1f38;
	font-weight:600;
	margin-top:15px;
	margin-bottom:15px
}
#resellerhostingfeatures .thumbnail {
	border:none;
	margin-bottom:0
}
#resellerhostingfeatures p {
	color:#373B42;
	font-size:15px;
	line-height:22px;
	font-weight:300;
	margin-bottom:0
}
.resellertable_border {
    background: #F3F4F5;
    padding-top: 60px;
    padding-bottom: 40px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.resellertable_border .thumbnail {
    border: none;
	text-align: center;
    margin-bottom: 0;
       padding: 30px;
    background-color: #ffffff;
}
 
#resellertable {
	background:#F3F4F5;
	padding-top:60px;
	padding-bottom:40px;
	border-top:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3
}
#resellertable img {
	display:inline;
	margin-right:20px
}
#resellertable .table {
	border:1px solid #DDD;
	text-align:center;
	padding-bottom:20px
}
#resellertable th {
	background:#373B42;
	color:#FFF;
	font-size:13px;
	padding:15px;
	font-weight:300
}
#resellertable th.center {
	text-align:center
}
#resellertable .table>tbody>tr>td {
	background:#FFF;
	font-size:12px
}
#resellertable td.left {
	text-align:left;
	padding:15px;
	vertical-align:middle
}
#resellertable td.center {
	text-align:center;
	padding:15px;
	vertical-align:middle
}
#resellertable .label-profit {
	background:#0c1f38;
	padding:5px 10px 5px 10px;
	font-size:12px;
	font-weight:600;
	color:#FFF;
	border-radius:0;
	margin-right:10px
}
#reselleraddvalue {
	padding-top:60px;
	padding-bottom:40px;
	background:#FFF
}
#reselleraddvalue .thumbnail {
	background:#F3F4F5;
	padding:30px 30px 10px 30px;
	text-align:center;
	border-radius:0;
	border:1px solid #E3E3E3
}
#reselleraddvalue .thumbnail h3 {
	font-weight:300;
	border-top:1px solid #dedede;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #dedede
}
#reselleraddvalue .thumbnail p {
	margin-top:30px;
	margin-bottom:30px
}
#reselleraddvalue .thumbnail .btn {
	margin-bottom:10px;
	text-transform:uppercase;
	font-weight:600
}
#resellerfeatures {
	background:#F3F4F5;
	padding-top:60px;
	padding-bottom:60px;
	border-top:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3
}
#resellerfeatures .fa {
	color:#0c1f38
}
#resellerfeatures h4 {
	padding-bottom:10px;
	border-bottom:1px solid #e4e4e4;
	margin-bottom:15px
}
#resellerfeatures p {
	font-weight:300
}
#resellerfeatures img {
	border:1px solid #cecece;
	padding:3px;
	background:#FFF;
	margin-bottom:30px
}


/*===================== Planes y precios CSS End =====================*/


/*===================== Hosting CSS Start =====================*/

#hostingfeatures {
	background:#FFF;
	padding-top:60px;
	padding-bottom:50px;
	text-align:center
}
#hostingfeatures .fa, #hostingfeatures .fas {
	color:#b0b0b0;
	padding-right:0
}
#hostingfeatures h3 {
	font-size:20px;
	color:rgb(0, 0, 0);;
	font-weight:600;
	margin-top:15px;
	margin-bottom:15px
}
#hostingfeatures .thumbnail {
	border:none;
	margin-bottom:0
}
#hostingfeatures p {
	color:#373B42;
	font-size:15px;
	line-height:22px;
	font-weight:300;
	margin-bottom:0
}
#hostingfeatures p.intro {
	color: #666;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	margin-bottom: 0px;
	padding: 20px 0px 50px 0;
}

/*===================== Hosting CSS End =====================*/

/*===================== Reasons CSS Start =====================*/

#reasons {
	background:#c3cfe2;
	padding-top:60px;
	padding-bottom:90px
}

#reasons h3 {
	font-size:20px;
	color:rgb(0, 0, 0);;
	font-weight:600;
	margin-top:15px;
	margin-bottom:15px
}

#reasons p {
	color:#373B42;
	font-size:15px;
	line-height:22px;
	font-weight:300;
	margin-bottom:0
}

#reasons .thumbnail {
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	border-radius:0;
	border:1px solid #E3E3E3;
	background:#F3F4F5
}

#reasons .fa, #reasons .fas {
	color:#b0b0b0;
	padding-right:0
}

#reasons .toolslide {
	left:0;
	top:0
}

/*===================== Reasons CSS End =====================*/

/*===================== Footer CSS Start =====================*/

footer{
    background: #c3cfe2;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #000000;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #c3cfe2;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*===================== Footer CSS END =====================*/

/*===================== CarCareBasico Banner CSS Start =====================*/

#subbanner {
	background:#c3cfe2;
	padding:70px 0px;
}
#subbanner h1 {
	color: #FFF;
	margin: 0;
	font-weight: 600;
	font-size: 50px;
	text-transform: uppercase;
}
#subbanner p {
	color: #555;
	margin-bottom: 0;
	font-weight: 300;
	float: left;
	font-size: 30px;
	margin-top: 20px;
	width:100%;
	float:left;
}
#subbanner .starting-from {
	float: left;
	width: 100%;
	color: #FFF;
	margin: 30px 0;
	font-size: 50px;
	font-weight: 500;
}
#subbanner .starting-from span {
	font-size: 18px;
	font-weight: 300;
	float: left;
	width: 100%;
}
#subbanner h4 {
	color: #c3c3c3;
	font-size: 18px;
	font-weight: 300;
	margin: 25px 0px 0 0;
	float:left;
	width:100%;
}
#subbanner h4.last-child {
	margin-bottom:30px;
}
#subbanner img {
	width:100%;
}

/*===================== CarCareBasico Banner CSS End =====================*/

/*===================== Descargas CSS Start =====================*/


#descargas {
	background:#FFF;
	padding-top:60px;
	padding-bottom:60px
}
#descargas h2 {
	margin-top:0;
	font-weight:300;
	margin-bottom:30px;
	padding-bottom:15px;
	border-bottom:1px solid #EFEFEF
}
#descargas p {
	margin-bottom:30px
}
#descargas .faq-cat-content {
	margin-top:20px
}
#descargas .panel-group .panel {
	border-radius:0
}
#descargas .panel-default>.panel-heading a {
	color:#333;
	text-decoration:none
}
#descargas .panel-default>.panel-heading .fa {
	color:#0c1f38
}
#descargas .panel-default>.panel-heading {
	background-color:#F3F4F5;
	border-color:#E3E3E3
}
#descargas .panel-title {
	font-size:13px
}
#descargas .panel-default>.panel-heading+.panel-collapse>.panel-body {
	font-size:13px;
	background:#FFF;
	display:table
}
#descargas h4.category {
	margin-top:50px;
	margin-bottom:30px
}
#descargas .panel-group {
	margin-bottom:0
}
#descargas .panel .panel-heading-link a.collapsed:after {
	content:"\f104"
}
#descargas .panel .panel-heading-link a:after {
	font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
	content:"\f107";
	float:right;
	background-color:rgb(0, 0, 0);;
	color:#FFF;
	padding:8px 0;
	margin-top:-25px;
	margin-right:-16px;
	width:33px;
	text-align:center
}
#descargas .panel-body {
	padding:15px
}
#descargas .fa {
	color:#b0b0b0
}

.from-panel {
    border: 1px solid #293955;
    -webkit-box-shadow: 10px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 1px 35px 0px rgba(0, 0, 0, 0.3);
    background: #ffffff;
}

.row-download-block {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.logo-download {
    float: left;
    margin-left: 20px;
}



/*===================== Descargas CSS End =====================*/

/*  */
.soporte{
    background-color: #c3cfe2;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
    text-align: center;
}

.soporte__tittle{
    font-size: 5rem;
	color:#fff;
}

.soporte__paragraph{
    font-size: 1em;
	margin-bottom: 5rem;
	color:#fff;
}

.soporte__container{
    margin-top: 1em;
    display: grid;
    gap: 2.5em;
}

.soporte__group{
    position: relative;
    --color: #373B42;
}

.soporte__input{
    width: 100%;
    background: none;
    color: #373B42;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Source Sans Pro', sans-serif;
}

.soporte__input:not(:placeholder-shown){
    color: #373B42;
}

.soporte__input:focus + .soporte__label,
.soporte__input:not(:placeholder-shown) + .soporte__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #373B42;
}

.soporte__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color 3.s;
}

.soporte__submit{
    background-color: #373B42;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 5.em;
}

.soporte__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #373B42;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.soporte__input:focus + .soporte__label,
.soporte__input:not(:placeholder-shown) + .soporte__label{
    transform: scale(1);
}
